.footer {
  overflow: hidden;
  background-color: rgb(135, 141, 230);
  padding: 20px 10px;
position: sticky;
top:100%;
}
h1 {
  font-weight: bold;
  color:darkblue;
  font-size: 20px;
  text-align: left;
}
p {
  color: darkblue;
  font-size: 12px;
}
a {
  color:darkblue;
  text-decoration: none;
  padding: 0px 10px;
  font-size: 17px;
}
a:hover {
  color: var(--active-color);
}
i {
  padding: 0px 10px;
color: red;

}
