<div class="footer container-fluid">
  <div class="row">
    <!-- name -->
    <div class="col-lg-6 mt-3 mb-3">
      <h1>FoodballTeam</h1>
      <p>Enjoy in exelent foodball</p>
  </div>

    <!-- nav -->
    <div class="col-lg-4">
      <a routerLink="">Home</a>
      <a routerLink="team">Team</a>
      <a routerLink="about">About</a>
      <a routerLink="contact">Contact</a>
    </div>
    <!-- socialmedia -->
    <div class="col-lg-2">
      <a href="https://www.facebook.com/Juventus" title="#" rel="noopener" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.whatsappgroupsjoinlink.com/real-madrid-whatsapp-group-link/" rel="noopener" title="#" target="_blank"><i class="bi bi-whatsapp"></i></a>
      <a href="https://telegram.me/barcelona" title="#" rel="noopener" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://www.youtube.com/@LiverpoolFC" title="youtube"  rel="noopener" target="_blank"><i class="bi bi-youtube"></i></a>
    </div>
  </div>
</div>
