.playerbox {
  padding: 10px 10px;
  border: 2px solid var(--primary-color);
  height: 30rem;
  box-shadow: 2px 2px 2px;
}
.playerbox img {
  width: 50%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  border: 2px solid red;
}
.cardy{
background-color:cornflowerblue;
}
.playerbox h1 {
  font-size: 18px;
  margin-top: 20px;
  font-weight: bold;
}
.buybtn {
  color: #000;
  background-color: coral;
  padding: 10px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
position: relative;
bottom: 4rem;
}

input {
  border: 2px solid var(--primary-color);
margin: 20px;
}
