<div class="banner">
  <div class="content">
    <h1>Great Players <br />Great football</h1>
    <a routerLink="team">All Players <i class="bi bi-arrow-right"></i></a>
  </div>
</div>
<!-- step  -->
<div class="container mt-5 mb-5">
  <h1 class="text-center">
    Greates Football Trainers <span class="highlight">in The World</span>
  </h1>
  <div class="d-flex justify-content-center">
    <div class="col-lg-3 mt-3 x" *ngFor="let td of trainerData; index as i">
      <div class="playerbox">
        <img src="{{ td.trainerImg }}" alt="trainer" />
        <p class="text-center">{{ td.trainerName }}</p>
      </div>
    </div>
  </div>
</div>
<hr />

<!-- playerdbox  -->
<div class="container mt-4 mb-4">
  <h1 class="text-center">
    Supportes <span class="highlight">Favourites Players</span>
  </h1>
  <div class="row">
    <div
      class="col-lg-3 mt-3x d-flex justify-content-center"
      *ngFor="let pd of playerData; index as i"
    >
      <div class="playerbox" *ngIf="i <= 3">
        <img src="{{ pd.playerImg }}" alt="player" />
        <h1>{{ pd.playerName }}</h1>
        <p>{{ pd.playerPrice | currency : "EUR" }}</p>
      </div>
    </div>
  </div>
  <a routerLink="team" class="viewmorebtn"
    >view more <i class="bi bi-arrow-right"></i
  ></a>
</div>
